@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

@media (min-width: 640px) {
  .container{
    padding: 0 20px;
  }
}