@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@media (prefers-color-scheme: dark) {
  @import 'tailwindcss-dark-mode/prefers-dark';
}

@import 'tailwindcss/dist/tailwind.min.css';



=======
@media (prefers-color-scheme: dark) {
  @import 'tailwindcss-dark-mode/prefers-dark.css';
}*/

.container_global{
	padding-left:144px;
	padding-right:144px;
}
@media screen and (max-width: 1000px) {
	.container_global{
		padding-left:80px;
	padding-right:80px;
	}
}
@media screen and (max-width: 700px) {
	.container_global{
		padding-left:10px;
	padding-right:10px;
	}
}

