@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@media (prefers-color-scheme: dark) {
  @import 'tailwindcss-dark-mode/prefers-dark';
}

@import 'tailwindcss/dist/tailwind.min.css';



=======
@media (prefers-color-scheme: dark) {
  @import 'tailwindcss-dark-mode/prefers-dark.css';
}*/

.container_global{
	padding: 0 144px;
}
@media screen and (max-width: 1000px) {
	.container_global{
		padding: 0 80px;
	}
}
@media screen and (max-width: 700px) {
	.container_global{
		padding: 0 10px;
	}
}

